#accounts-list {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#accounts-list::-webkit-scrollbar {
  display: none;
}

:root {
  --btn-bg: #1e293b;
}

@media (prefers-color-scheme: light) {
  :root {
    --btn-bg: #e2e8f0;
  }
}
